button {
  margin: 1%;
}

.jumbotron {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9SUNtUvQu96NOcU_bqp4U2kQm4HNJhyuw0fJogxjXcuj3xoZsMQ');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font: sans-serif;
  letter-spacing: 50px;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
}

#output {
  margin: 2%;
  padding: 2%;
  border: solid black 1px;
  border-radius: 7px;
  background-color: black;
  color: white;
  font: sans-serif;
}

body {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  color: white;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
